body {
    max-width: 450px;
    justify-self: center;
}

img {
    size: 100%;
}

.hero {
    background-image: url('images/hero-background.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  }

  .nav-dropdown-menu a {
    color: black;
    text-decoration: none;
  }

  .nav-dropdown-menu {
    text-decoration-line: none;
  }

  .hero-welcome {
    display: flex;
    flex-direction: column;
  }

  .menu-bar {
    display: flex;
  }

  .welcome-main {

  }

  .main-img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
  }
  
  .grid-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .grid-gallery img {
    width: 100%;
    border-radius: 6px;
  }